@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header section */
.bg-color {
  background-color: rgba(30, 30, 30, 1);
}

.primary-color {
  color: rgba(78, 71, 255, 1);
}

.btn-primary{
  background-color:rgba(78, 71, 255, 1);;
  color: white;
  border-radius: 10px;
  padding: 12px 36px ;
  border: none;

}

.hero{
  position: relative;
}

.bg-image img {

  width: 100%;
  display: block;
}

.header-title {
   position: absolute; 
  top: 20px;
  left: 0;
  width: calc(100% - 300px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.margin{
  margin: 0px 150px ;
}
.logo{
  font-size: 34px;
  font-weight: 900;
}
.Template-title{
  position: absolute;
  top: 40%;
  left: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;

}
.description-title{
  font-size: 65px;
  font-weight: bold;
  color: rgba(37, 36, 50, 1);
  
}
.action-section{
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.action-title{
  font-size: 42px;
  font-weight: bold;
  color: rgba(37, 36, 50, 1);
}
.action-sub-title{
  font-size: 24px;
  font-weight: 500;
  color: rgba(37, 36, 50, 0.5);
}
.action-section-image img{
  border-radius: 48px;
  
}